:root {
    --font-color: #f2f3f4;
    --base-layer: #071824;
    --second-layer-transparent: #ffffff20;
    --third-layer: #374854;
    --prim-acc-color: #3fc0ac;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    user-select: none;
  }

.App {
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
}
  
ul {
    list-style: none;
  }
  
body {
    top: 0;
    left: 0;
    color: var(--font-color);
    background-color: var(--base-layer);
    text-rendering: optimizeLegibility;
    overflow: hidden;
  }

header{
    z-index: 3;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.header-cont{
    margin: 2rem 11vw 2rem 11vw;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.col{
    box-sizing: border-box;
    margin: 1rem;
    pointer-events: all;
}

.rise-logo{
    display: block;
    width: 36px;
    cursor: pointer;
}

.rise-logo img{
    width: 100%;
    height: 100%;
}

.hamburger-menu{
    z-index: 3;
    opacity: 0;
    transform: translateX(50px) scaleX(0) !important;
    transition: all .5s cubic-bezier(.14,.8,.4,1);
}

.menu-overlay{
    z-index: 1;
    background: var(--third-layer);
    height: 200px;
    width: 200px;
}

.menu-overlay-container{
    z-index: 2;
    position: absolute;
    bottom:0;
    right: 0;
    left:0;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle {
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
    transition-delay: 0s;
  }

.menu-toggle-icon {
    z-index: 3;
    width: 36px;
    cursor: pointer;
    transition: all .3s;
  }
  
.menu-toggle-icon .bar {
    display: block;
    width: 100%;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);
    height: 3px;
    background: #fff;
    transition: all .35s;
    position: relative;
    transform-origin: center;
    transition: all 1s cubic-bezier(.14,.8,.4,1);
  }

.menu-toggle-icon:hover > .bar{
    background: var(--prim-acc-color);
    box-shadow: 0 0 16px var(--prim-acc-color-trans);
    transition: all .1s cubic-bezier(.14,.8,.4,1); 
}
  
.bar + .bar{
    margin-top: 8px;
  }
.menu-toggle-open .bar:nth-child(1) {
    animation: cubic-bezier(.14,.8,.4,1) .35s top forwards;
  }
  
.menu-toggle-closed .bar:nth-child(1) {
    animation: cubic-bezier(.14,.8,.4,1) .35s top-2 forwards;
  }
  
.menu-toggle-open .bar:nth-child(2) {
    transform-origin: right;
    animation: cubic-bezier(.14,.8,.4,1) .35s scaled forwards;
  }
  
.menu-toggle-closed .bar:nth-child(2) {
    transform-origin: left;
    animation: cubic-bezier(.14,.8,.4,1) .35s scaled-2 forwards;
  }
  
.menu-toggle-open .bar:nth-child(3) {
    animation: cubic-bezier(.14,.8,.4,1) .35s bottom forwards;
  }
  
.menu-toggle-closed .bar:nth-child(3) {
    animation: cubic-bezier(.14,.8,.4,1) .35s bottom-2 forwards;
  }

.content{
    position: relative;
    padding-top: 8rem;
    height: 100vh;
    overflow: auto;
}

.app-desktop-menu{
    z-index: 1;
    display: inline-flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    transition: all .2s cubic-bezier(.14,.8,.4,1);
}

.menu{
    display: inline-flex;
    text-align: center;
    margin: 3rem 0 6px 0;
}

.menu li a{
    position: relative;
    letter-spacing: .22em;
    margin: 0 3em;
    display: block;
    color: #eee;
    font-size: 1.1rem;
    transition: color 0.1s cubic-bezier(.14,.8,.4,1);
}

.menu li a:active{
    color: #bbbbbb;
}

.menu li a::before{
    content:"";
    position: absolute;
    display: block;
    top: 104%;
    width: calc(100% - .05em);
    opacity: 0;
    height: 3px;
    transform: scaleX(0);
    transition: all .8s cubic-bezier(.14,.8,.4,1);
    margin-left: -.05em;
    background: #BF52BF;
    border-radius: 1rem;
}

.menu li a:hover::before{
    position: absolute;
    transform: scaleX(1);
    opacity: 1;
    background: var(--prim-acc-color);
    box-shadow: 0 0 4px var(--prim-acc-color);
    transition: all .2s cubic-bezier(.14,.8,.4,1);
}

li .current-page-item::after{
    content:"";
    position: absolute;
    display: block;
    top: 104%;
    width: calc(100% - .15em);
    height: 3px;
    background: var(--prim-acc-color);
    box-shadow: 0 0 4px var(--prim-acc-color);
}
.landing{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
}

.membersGrid{
    justify-content: center;
    margin: 1rem 7rem 1rem 7rem;
    display: grid;
    grid-gap: 2rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
    grid-auto-rows: 10rem;
}

.cardContainer{
    padding: 1rem;
    background-color: var(--second-layer-transparent);
    display: grid; 
    grid-template-columns: 25% auto; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0.5rem 0.5rem;
    border-radius: 0.5rem; 
    grid-template-areas:
    "Role Role" 
    "Head Name"
    "Head phant"; 
}
.Head { grid-area: Head; max-width: 100%;}
.Name { grid-area: Name; display: flex; gap: 1rem; font-size: 1.1rem; margin-top: 7px;}
.Role {
    font-weight: 500; 
    font-size: 1.1rem;
    grid-area: Role; 
    border-bottom: 2px solid;
    padding-bottom: 3px;
    margin-bottom: 10px;
    text-align: center;
}
.phant { grid-area: phant; display: flex; gap: 1rem}
.phantStatus{
    height: fit-content;
    padding: 2px 6px 2px 6px;
    border-radius: 0.25rem;
}


.cardContainer img{
    max-height: 80%;
}

.seperator{
    content: "";
    height: 3px;
    width: 6rem;
    left: 50%;
    margin: 0.5rem 0 0.5rem calc(50% - 3rem);
    transform-origin: center;
    border-radius: 2rem;
}

.phantList{
    margin: 1rem 7rem 1rem 7rem;
    display: grid;
    grid-gap: 2rem;
    grid-auto-rows: auto;
}

.phantCard{
    background-color: var(--second-layer-transparent);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: fit-content;
}

.phantContainer{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% 40% 30%;
    padding: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.line{
    content: '';
    height: 2px;
    width: 80%;
    max-width: 15rem;
    border-radius: 2rem;
    background-color: var(--second-layer-transparent);
}

.phantTitle{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.phantDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.phantUpgrades{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.phantUpgrades img{
    max-height: 110px;
}

.upgradeCont{
    display: grid;
    gap: 1rem;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.phantMisc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 300;
}
@keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    100% {
      top: 11px;
      transform: rotate(45deg);
    }
  }
  
@keyframes top-2 {
    0% {
      top: 11px;
      transform: rotate(45deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
@keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    100% {
      bottom: 11px;
      transform: rotate(-45deg);
    }
  }
  
@keyframes bottom-2 {
    0% {
      bottom: 11px;
      transform: rotate(-45deg);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
@keyframes scaled {
    80% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(0);
    }
  }
  
@keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    30% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

@media only screen and (max-width: 880px) {
    .desktop-hide {
        opacity: 1 !important;
        transform: translateX(0) scaleX(1) !important;
        transition: all .5s cubic-bezier(.14,.8,.4,1);
    }
    .mobile-hide {
        opacity: 0 !important;
        transform: translateY(-50px) !important;
        transition: all .5s cubic-bezier(.14,.8,.4,1);
    }
    .mobile-maxWidth {
        flex: 100 0;
    }
    .mobile-grid {
        grid-auto-flow: row !important;
        gap: 2rem !important;
        grid-template-columns: auto !important
    }
    .phantDetails{
        justify-content:  center!important;
        gap: 0.5rem
    }

    .phantMisc{
        gap: 1rem;
    }
}

@media only screen and (max-width: 720px) {
    .mobile-gaps{
        margin: 1rem 1rem 1rem 1rem !important;
    }

}

@media only screen and (min-width: 1440px) {
    
    .phantList {grid-template-columns: repeat(2, 1fr) !important; }
}